/Makefile.am
/close.c
/errno.in.h
/fclose.c
/fd-hook.c
/fd-hook.h
/fflush.c
/fopen.c
/fpurge.c
/freading.c
/freading.h
/fseek.c
/fseeko.c
/fstat.c
/ftell.c
/ftello.c
/gettimeofday.c
/lseek.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/stdbool.in.h
/stddef.in.h
/stdio-impl.h
/stdio.in.h
/sys_stat.in.h
/sys_time.in.h
/sys_types.in.h
/time.in.h
/unistd.c
/unistd.in.h
/malloc.c
/stdlib.in.h
